<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>
<body>

    <h1>TO DO</h1>

    <form action="/todo" method="post">
        <input type="text" name="todoItem" placeholder="Enter a to do item">
        <input type="text" namme="todoDescription" placeholder="To do item todo Description">
        <input type="text" name="Item ID" placeholder="To do Item ID">
         <input type="text" name="Item UUID" placeholder="To do Item  UUID">

        <button>Submit TODO</button>
    </form>
    
</body>
</html>